<!-- <form #loginForm="ngForm">
    <label>name</label>
    <input type="text" name="cajanombre" #cajanombre value="S2VTournament" placeholder="S2VTournament" disabled />

    <label>pass</label>
    <input type="text" name="cajapass" #cajapass value="sogetispain" placeholder="sogetispain" readonly />

    <button type="button" (click)="hacerlogin()">
        LOGEARSE
    </button>
</form> -->
<hr />
<form>
    <label>name</label>
    <input type="text" name="cajanombre2" #cajanombre2 value="S2VTournament" placeholder="ApiOur" disabled
        class="form-control" />

    <label>pass</label>
    <input type="text" name="cajapass2" #cajapass2 value="sogetispain" placeholder="ApiOur" readonly
        class="form-control" />

    <button type="button" class="btn btn-success">
        Login
    </button>
</form>